<div class="card mb-2"> 
  <div class="card-header">
    <div class="align-items-center" style="display: flex; justify-content: space-between">
      <div>
        <b style="font-size: 14pt"><%= comment.user.username %></b>
      </div>
      <div style="display: flex; align-items: center">
        <span style="color: grey; font-size: 10pt">
          <%= comment.created_at.localtime.strftime('%H:%M:%S %d.%m.%Y') %>
        </span>
      <% if comment.user == current_user %>
        <span style="margin-left: 10px">
          <%= button_to 'Remove comment',
                      [comment.article, comment],
                      :class => "btn btn-danger btn-sm",
                      method: :delete,
                      data: { confirm: "Are you sure?" } %>
        </span>
      <% end %>
      </div>
    </div>
  </div>

  <div class="card-body">
    <div class="card-text">
      <%= comment.body %>
    </div>
    
  </div>
</div>