<div style="display: flex; flex-flow: column; align-items: center; margin-top: 10px">
    <h1> About FurBlog <h1>
    <h4 style="margin-bottom: 15px; color: #555555"> Developed by Yevhenii Luzhetskyi <h4>
    <img src="https://media1.tenor.com/images/cc63a036b412db9d0c0c5259174ac0c7/tenor.gif" alt="Eevee dance" class="img-thumbnail">
</div>