<div class="row d-flex justify-content-center">
    <h1 class="offset-3"> About FurBlog <h1><br>
    <img src="https://media1.tenor.com/images/cc63a036b412db9d0c0c5259174ac0c7/tenor.gif" alt="Eevee dance" class="img-thumbnail">
</div>